header {
    background-color: #000000;
    display: flex;
    justify-content: space-evenly;
    font-size: 3em;
    align-items: center;
    height: 150px;
    color: #fff;
}

.projects{
    margin: 4em;
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.about-me-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    margin-bottom: 4em;
    height: 300px;
    width: 400px;
}

.about-container {
    text-align: center;
}

.container, .about-me{
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

body{
    background-color: rgb(255, 255, 255);
    font-family: 'times new roman', sans-serif;
    margin: 0px;
    align-items: center;
    justify-content: center;
    font-size: larger;
}

ul {
    list-style-type: disc;
    padding-left: 30px;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}



table {
    width: 100%;
    padding: 4em;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.td2 td {
    margin: 10px;
    border: none;
    border: 1px solid black;
    border-collapse: separate;
}